<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daanta.camp.mapper.SiteMapper">

    <select id="selectKey" resultType="int">
        SELECT NEXTVAL('site_idx_seq')
    </select>

    <select id="selectList" resultType="com.daanta.camp.domain.Site" parameterType="com.daanta.camp.domain.Site">
        /* SiteMapper.selectList */
        SELECT
              COUNT(1) OVER() AS total_count
            , SIT.idx
            , SIT.nm
            , SIT.type
            , SIT.url
            , SIT.query
            , SIT.lastval
            , SIT.reg_idx
            , SIT.reg_dt
            , SIT.chg_idx
            , SIT.chg_dt
            , SIT.del_dt
            , STRING_AGG(HEA.key || '=' || HEA.val) AS "header"
            , STRING_AGG(BDY.key || '=' || BDY.val) AS "form_body"
            , REG.nm    AS "reg_nm"
            , CHG.nm    AS "chg_nm"
            , GRR.nm    AS "reg_grd_nm"
            , GRC.nm    AS "chg_grd_nm"
        FROM
            SELECT * FROM site SIT
            LEFT OUTER JOIN header   HEA ON SIT.idx     = HEA.site_idx
            LEFT OUTER JOIN formbody BDY ON SIT.idx     = BDY.site_idx
            LEFT OUTER JOIN usr      REG ON SIT.reg_idx = REG.idx
            LEFT OUTER JOIN usr      CHG ON SIT.chg_idx = CHG.idx
            LEFT OUTER JOIN grd      GRR ON REG.idx     = GRR.idx
            LEFT OUTER JOIN grd      GRC ON CHG.idx     = GRC.idx
        WHERE 1=1
            <if test="idx != null and idx != ''">
                AND INSTR(SIT.idx, #{idx}) > 0
            </if>
            <if test="nm != null and nm != ''">
                AND INSTR(SIT.nm, #{nm}) > 0
            </if>
            <if test="type != null and type != ''">
                AND INSTR(SIT.type, #{type}) > 0
            </if>
            <if test="url != null and url != ''">
                AND INSTR(SIT.url, #{url}) > 0
            </if>
            <if test="query != null and query != ''">
                AND INSTR(SIT.query, #{query}) > 0
            </if>
            <if test="lastval != null and lastval != ''">
                AND INSTR(SIT.lastval, #{lastval}) > 0
            </if>
            <if test="regIdx != null and regIdx != ''">
                AND INSTR(SIT.reg_idx, #{regIdx}) > 0
            </if>
            <if test="regDt != null and regDt != ''">
                AND INSTR(SIT.reg_dt, #{regDt}) > 0
            </if>
            <if test="chgIdx != null and chgIdx != ''">
                AND INSTR(SIT.chg_idx, #{chgIdx}) > 0
            </if>
            <if test="chgDt != null and chgDt != ''">
                AND INSTR(SIT.chg_dt, #{chgDt}) > 0
            </if>
            <if test="delDt != null and delDt != ''">
                AND INSTR(SIT.del_dt, #{delDt}) > 0
            </if>
            <if test="headerIdx != null and headerIdx != ''">
                AND INSTR(HEA.idx, #{headerIdx}) > 0
            </if>
            <if test="headerKey != null and headerKey != ''">
                AND INSTR(HEA.key, #{headerKey}) > 0
            </if>
            <if test="headerVal != null and headerVal != ''">
                AND INSTR(HEA.val, #{headerVal}) > 0
            </if>
            <if test="bodyIdx != null and bodyIdx != ''">
                AND INSTR(BDY.idx, #{bodyIdx}) > 0
            </if>
            <if test="bodyKey != null and bodyKey != ''">
                AND INSTR(BDY.key, #{bodyKey}) > 0
            </if>
            <if test="bodyVal != null and bodyVal != ''">
                AND INSTR(BDY.val, #{bodyVal}) > 0
            </if>
    </select>

    <select id="selectOne" resultType="com.daanta.camp.domain.Site" parameterType="com.daanta.camp.domain.Site">
        /* SiteMapper.selectOne */
        SELECT
              SIT.idx
            , SIT.nm
            , SIT.type
            , SIT.url
            , SIT.query
            , SIT.lastval
            , SIT.reg_idx
            , SIT.reg_dt
            , SIT.chg_idx
            , SIT.chg_dt
            , SIT.del_dt
            , HEA.idx      AS "header_idx"
            , HEA.key      AS "header_key"
            , HEA.val      AS "header_val"
            , BDY.idx      AS "body_idx"
            , BDY.key      AS "body_key"
            , BDY.val      AS "body_val"
        FROM
            SELECT * FROM site SIT
            LEFT OUTER JOIN header   HEA ON SIT.idx = HEA.site_idx
            LEFT OUTER JOIN formbody BDY ON SIT.idx = BDY.site_idx
        WHERE 1=1
            AND id = #{id}
    </select>

    <insert id="insertOne" parameterType="com.daanta.camp.domain.Site">
        /* SiteMapper.insertOne */
        INSERT INTO
            site
            (
                idx
                <if test="nm != null and nm != ''">
                    , nm
                </if>
                <if test="type != null and type != ''">
                    , type
                </if>
                <if test="url != null and url != ''">
                    , url
                </if>
                <if test="query != null and query != ''">
                    , query
                </if>
                <if test="lastval != null and lastval != ''">
                    , lastval
                </if>
                <if test="regIdx != null and regIdx != ''">
                    , reg_idx
                </if>
                <if test="chgIdx != null and chgIdx != ''">
                    , chg_idx
                </if>
            )
        VALUES
            (
                #{idx}
                <if test="nm != null and nm != ''">
                    , #{nm}
                </if>
                <if test="type != null and type != ''">
                    , #{type}
                </if>
                <if test="url != null and url != ''">
                    , #{url}
                </if>
                <if test="query != null and query != ''">
                    , #{query}
                </if>
                <if test="lastval != null and lastval != ''">
                    , #{lastval}
                </if>
                <if test="regIdx != null and regIdx != ''">
                    , #{regIdx}
                </if>
                <if test="chgIdx != null and chgIdx != ''">
                    , #{chgIdx}
                </if>
            )
    </insert>

    <update id="updateOne" parameterType="com.daanta.camp.domain.Site">
        /* SiteMapper.updateOne */
        UPDATE
            site
        <set>
            <if test="url != null and url != ''">
                url = #{url},
            </if>
            <if test="header != null and header != ''">
                header = #{header},
            </if>
            <if test="formBody != null and formBody != ''">
                form_body = #{formBody},
            </if>
            <if test="query != null and query != ''">
                query = #{query},
            </if>
            <if test="latestValue != null and latestValue != ''">
                latest_value = #{latestValue},
            </if>
            chg_dt = NOW(),
            chg_id = COALESCE(#{chgId}, NULL)
        </set>
        WHERE 1=1
            AND id = #{id}
    </update>

    <delete id="delete" parameterType="com.daanta.camp.domain.Site">
        /* SiteMapper.delete */
        DELETE FROM
            site
        WHERE 1=1
            AND id = #{id}
    </delete>

</mapper>
