<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daanta.camp.dao.SiteDAO">

    <select id="selectKey" resultType="int">
        SELECT NEXTVAL('site_idx_seq')
    </select>

    <!-- 일단 부분검색으로 셋팅했으나 나중에 수정 필요함. -->
    <select id="selectList" resultType="com.daanta.camp.domain.Site" parameterType="com.daanta.camp.domain.Site">
        /* SiteMapper.selectList */
        SELECT
              SIT.idx
            , SIT.nm
            , SIT.type
            , SIT.url
            , SIT.query
            , SIT.lastval
            , SIT.reg_idx
            , SIT.reg_dt
            , SIT.chg_idx
            , SIT.chg_dt
            , SIT.del_dt
            , HEA.idx
            , HEA.key
            , HEA.val
            , BDY.idx
            , BDY.key
            , BDY.val
        FROM
            SELECT * FROM site SIT
            LEFT OUTER JOIN header   HEA ON SIT.idx = HEA.site_idx
            LEFT OUTER JOIN formbody BDY ON SIT.idx = BDY.site_idx
        WHERE 1=1
            <if test="idx != null and idx != ''">
                AND INSTR(idx, #{idx}) > 0
            </if>
            <if test="nm != null and nm != ''">
                AND INSTR(nm, #{nm}) > 0
            </if>
            <if test="type != null and type != ''">
                AND INSTR(type, #{type}) > 0
            </if>
            <if test="url != null and url != ''">
                AND INSTR(url, #{url}) > 0
            </if>
            <if test="query != null and query != ''">
                AND INSTR(query, #{query}) > 0
            </if>
            <if test="lastval != null and lastval != ''">
                AND INSTR(lastval, #{lastval}) > 0
            </if>
            <if test="regIdx != null and regIdx != ''">
                AND INSTR(reg_idx, #{regIdx}) > 0
            </if>
            <if test="regDt != null and regDt != ''">
                AND INSTR(reg_dt, #{regDt}) > 0
            </if>
            <if test="chgIdx != null and chgIdx != ''">
                AND INSTR(chg_idx, #{chgIdx}) > 0
            </if>
            <if test="chgDt != null and chgDt != ''">
                AND INSTR(chg_dt, #{chgDt}) > 0
            </if>
            <if test="delDt != null and delDt != ''">
                AND INSTR(del_dt, #{delDt}) > 0
            </if>
    </select>

    <select id="selectOne" resultType="com.daanta.camp.domain.Site" parameterType="com.daanta.camp.domain.Site">
        /* SiteMapper.selectOne */
        SELECT
            *
        FROM
            site
        WHERE 1=1
            AND id = #{id}
    </select>

    <insert id="insertOne" parameterType="com.daanta.camp.domain.Site">
        /* SiteMapper.insertOne */
        INSERT INTO
            site
            (
                idx
                <if test="nm != null and nm != ''">
                    , nm
                </if>
                <if test="type != null and type != ''">
                    , type
                </if>
                <if test="url != null and url != ''">
                    , url
                </if>
                <if test="query != null and query != ''">
                    , query
                </if>
                <if test="lastval != null and lastval != ''">
                    , lastval
                </if>
                <if test="regIdx != null and regIdx != ''">
                    , reg_idx
                </if>
                <if test="chgIdx != null and chgIdx != ''">
                    , chg_idx
                </if>
            )
        VALUES
            (
                #{idx}
                <if test="nm != null and nm != ''">
                    , #{nm}
                </if>
                <if test="type != null and type != ''">
                    , #{type}
                </if>
                <if test="url != null and url != ''">
                    , #{url}
                </if>
                <if test="query != null and query != ''">
                    , #{query}
                </if>
                <if test="lastval != null and lastval != ''">
                    , #{lastval}
                </if>
                <if test="regIdx != null and regIdx != ''">
                    , #{regIdx}
                </if>
                <if test="chgIdx != null and chgIdx != ''">
                    , #{chgIdx}
                </if>
            )
    </insert>

    <update id="updateOne" parameterType="com.daanta.camp.domain.Site">
        /* SiteMapper.updateOne */
        UPDATE
            site
        <set>
            <if test="url != null and url != ''">
                url = #{url},
            </if>
            <if test="header != null and header != ''">
                header = #{header},
            </if>
            <if test="formBody != null and formBody != ''">
                form_body = #{formBody},
            </if>
            <if test="query != null and query != ''">
                query = #{query},
            </if>
            <if test="latestValue != null and latestValue != ''">
                latest_value = #{latestValue},
            </if>
        </set>
        WHERE 1=1
            AND id = #{id}
    </update>

    <delete id="delete" parameterType="com.daanta.camp.domain.Site">
        /* SiteMapper.delete */
        DELETE FROM
            site
        WHERE 1=1
            AND id = #{id}
    </delete>

</mapper>
