<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daanta.camp.dao.SiteDAO">

    <select id="selectList" resultType="com.daanta.camp.domain.Site" parameterType="com.daanta.camp.domain.Site">
        /* QUERY: SiteMapper.selectList */
        SELECT
            *
        FROM
            sites
        WHERE 1=1
            <if test="url != null and url != ''">
                AND url = #{url}
            </if>
            <if test="query != null and query != ''">
                AND query = #{query}
            </if>
        <!-- You can add more conditions as needed -->
    </select>

    <select id="selectOne" resultType="com.daanta.camp.domain.Site" parameterType="com.daanta.camp.domain.Site">
        /* QUERY: SiteMapper.selectOne */
        SELECT
            *
        FROM
            sites
        WHERE 1=1
            AND id = #{id}
    </select>

    <insert id="insertOne" parameterType="com.daanta.camp.domain.Site">
        /* QUERY: SiteMapper.insertOne */
        INSERT INTO
            sites
            (
                  url
                , header
                , form_body
                , query
                , latest_value
            )
        VALUES
            (
                  #{url}
                , #{header}
                , #{formBody}
                , #{query}
                , #{latestValue}
            )
    </insert>

    <update id="updateOne" parameterType="com.daanta.camp.domain.Site">
        /* QUERY: SiteMapper.updateOne */
        UPDATE
            sites
        <set>
            <if test="url != null and url != ''">
                url = #{url},
            </if>
            <if test="header != null and header != ''">
                header = #{header},
            </if>
            <if test="formBody != null and formBody != ''">
                form_body = #{formBody},
            </if>
            <if test="query != null and query != ''">
                query = #{query},
            </if>
            <if test="latestValue != null and latestValue != ''">
                latest_value = #{latestValue},
            </if>
        </set>
        WHERE 1=1
            AND id = #{id}
    </update>

    <delete id="delete" parameterType="com.daanta.camp.domain.Site">
        /* QUERY: SiteMapper.delete */
        DELETE FROM
            sites
        WHERE 1=1
            AND id = #{id}
    </delete>

</mapper>
