<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daanta.camp.dao.SiteDAO">

    <select id="getSequence" resultType="int">
        SELECT 
    </select>

    <select id="selectList" resultType="com.daanta.camp.domain.Site" parameterType="com.daanta.camp.domain.Site">
        /* SiteMapper.selectList */
        SELECT
            *
        FROM
            sites
        WHERE 1=1
            <if test="url != null and url != ''">
                AND INSTR(url, #{url}) > 0
            </if>
            <if test="header != null and header != ''">
                AND INSTR(header, #{header}) > 0
            </if>
            <if test="form_body != null and form_body != ''">
                AND INSTR(form_body, #{form_body}) > 0
            </if>
            <if test="query != null and query != ''">
                AND INSTR(query, #{query}) > 0
            </if>
            <if test="latest_value != null and latest_value != ''">
                AND INSTR(latest_value, #{latest_value}) > 0
            </if>
    </select>

    <select id="selectOne" resultType="com.daanta.camp.domain.Site" parameterType="com.daanta.camp.domain.Site">
        /* SiteMapper.selectOne */
        SELECT
            *
        FROM
            sites
        WHERE 1=1
            AND id = #{id}
    </select>

    <insert id="insertOne" parameterType="com.daanta.camp.domain.Site">
        /* SiteMapper.insertOne */
        INSERT INTO
            sites
            (
                  url
                , header
                , form_body
                , query
                , latest_value
            )
        VALUES
            (
                  #{url}
                , #{header}
                , #{formBody}
                , #{query}
                , #{latestValue}
            )
    </insert>

    <update id="updateOne" parameterType="com.daanta.camp.domain.Site">
        /* SiteMapper.updateOne */
        UPDATE
            sites
        <set>
            <if test="url != null and url != ''">
                url = #{url},
            </if>
            <if test="header != null and header != ''">
                header = #{header},
            </if>
            <if test="formBody != null and formBody != ''">
                form_body = #{formBody},
            </if>
            <if test="query != null and query != ''">
                query = #{query},
            </if>
            <if test="latestValue != null and latestValue != ''">
                latest_value = #{latestValue},
            </if>
        </set>
        WHERE 1=1
            AND id = #{id}
    </update>

    <delete id="delete" parameterType="com.daanta.camp.domain.Site">
        /* SiteMapper.delete */
        DELETE FROM
            sites
        WHERE 1=1
            AND id = #{id}
    </delete>

</mapper>
